#body {
    margin: 0 10% 0 10%;
}
.input-block{
    margin: 0 0 0.5em 0;
}
input {
    display: block;
    height: 2em;   
    margin: 0.2em 0 0.3em 0;
}
button {
    height: 2em;
}
button:hover {
    background-color: darksalmon;
    border: solid gray 1px;
}